body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* background-color: rgb(218, 223, 221); */
}
a,
p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --link-hover-color: #2196f3;
  --address-color: #757575;
  --adress-opacity-color: rgba(255, 255, 255, 0.6);
  --link-color: #212121;
  --background-order-color: #2f303a;
  --shadow-button-color: rgba(0, 0, 0, 0.15);
  --button-hover-color: #0660aa;
  --teams-bg-color: #f5f4fa;
  --portfolio-main-color: #efefef;
}

.color__blue {
  color: var(--link-hover-color);
}

.color__white {
  color: var(--secondary-color);
}

.color__black {
  color: var(--primary-color);
}

.color__grey {
  color: var(--address-color);
}
.color__white__opacity {
  color: var(--adress-opacity-color);
}

.header {
  width: 1600px;
  display: flex;
  margin: 0 auto;
}

.header__navigation {
  display: flex;
}

.header__logo {
  margin: 25px 93px 25px 215px;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header__link__info {
  width: 294px;
  font-weight: 700;
  margin: 32px 0;
  color: var(--link-color);
  justify-content: space-between;
}

.header ul {
  display: flex;
}
.header__personal__info {
  margin-top: 32px;
  margin-left: 331px;
}

.header__info__hover:hover,
.address__info__hover:hover {
  color: var(--link-hover-color);
}

.header__tel__ff {
  margin-left: 50px;
}

.business__order {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: var(--background-order-color);
  margin: 0 auto;
}

.business__order h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--secondary-color);
  width: 696px;
  margin: 0 452px 30px 452px;
  padding-top: 200px;
}

.button {
  width: 200px;
  height: 50px;
  margin: auto 700px;
  background: var(--link-hover-color);
  box-shadow: 0px 4px 4px var(--shadow-button-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-weight: 700;
  cursor: pointer;
  font-family: "Roboto";
  letter-spacing: 0.08em;
}

button:hover {
  color: var(--shadow-button-color);
  background: var(--button-hover-color);
}

.skills {
  width: 1600px;
  margin: 0 auto;
}

.skills__none {
  display: none;
}

.skills__company {
  width: 1170px;
  display: flex;
  margin: 94px 215px;
  padding: 0;
}

.skills__company p,
h3 {
  width: 270px;
  left: 815px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

.skills__company h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--link-color);
}

.skills__work__header {
  text-align: center;
  font-style: normal;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--link-color);
}

.skills__work__img {
  display: flex;

  padding: 0 215px;
}

.skills__work__img li {
  padding-right: 30px;
  padding-bottom: 94px;
}

.our__teams {
  width: 1600px;
  background: var(--teams-bg-color);
  margin: 0 auto;
}

.our__teams__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--link-color);
  text-align: center;
  padding-top: 94px;
  font-style: normal;
}

.our__teams__info {
  display: flex;
  padding: 50px 215px 94px;
  margin-bottom: 0;
}

.our__teams__info li {
  padding-right: 30px;
}

.our__teams h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.our__teams p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

.footer {
  width: 1600px;
  background: var(--background-order-color);
  padding: 60px 0;
  margin: 0 auto;
}

.footer__logo {
  width: 145px;
  padding-left: 215px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.address {
  padding-left: 175px;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address li {
  margin: 10px 0;
}

/* PORTFOLIO */

.header__info__color {
  color: var(--link-hover-color);
}

.main {
  width: 1170px;
  margin: 95px auto 65px;
}

.main__link {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.main__link li {
  margin-right: 12px;
}

.main__button {
  padding: 6px 22px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.main__button:hover {
  background: var(--link-hover-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.main__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-left: 0px;
}

.main__info li {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--portfolio-main-color);
}

.main__info h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: var(--link-color);
  margin-left: 24px;
}

.main__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--address-color);
  margin-left: 24px;
}

.main__link__all {
  padding: 6px 22px;
  background: var(--link-hover-color);
  border-radius: 5px;
}

.main__link__other {
  padding: 6px 22px;
  background: var(--teams-bg-color);
  border-radius: 5px;
}
